body{
    background-color: black;
}
.greyButton{
    background-color: rgb(254, 160, 10);
    color: white;
    border:none;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    font-size: 25px;
    cursor: pointer;

}
.yellowButton{
    background-color: rgb(51, 51, 51);
    color:white;
    border:none;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
}
.clear{
    border-radius: 10px;
    width: 265px;
}
.yellowButton:hover{
    background-color:  rgb(36, 36, 36);;
}
.greyButton:hover{
background-color:  rgb(255, 146, 3);
}

.calculation{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 5px;
}
